@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Phantom Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
:root {
  --red: #ec3750;
  --orange: #ff8c37;
  --yellow: #f1c40f;
  --green: #33d6a6;
  --cyan: #5bc0de;
  --blue: #338eda;
  --purple: #a633d6;
  --muted: #8492a6;
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
}

.cyan {
  color: var(--cyan);
}

.bg-cyan {
  background-color: var(--cyan);
}

.blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

.muted {
  color: var(--muted);
}

.bg-muted {
  background-color: var(--muted);
}